    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- important for mobile devices to get the scaling right! -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Explosive Candy</title>

    <meta name="theme-color" content="#ff6f00">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Explosive Candy">
    <meta name="apple-mobile-web-app-title" content="Explosive Candy">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="192x192" href="assets/images/icon-192.png">

    <link rel="preload" as="image" href="/assets/images/main-menu-background.webp"> <!--media="(max-width: 780px)"-->
    <link rel="preload" as="image" href="/assets/images/main-menu-bg-landscape.webp"> <!--media="(min-width: 781px)"-->

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/default-menu.css" />
    <link rel="stylesheet" href="css/match-app.css" />
    <link rel="stylesheet" href="css/options-toggle.css" />
    <link rel="stylesheet" href="css/main-menu.css" />
    <link rel="stylesheet" href="css/level-select.css" />
    <link rel="stylesheet" href="css/leaderboard.css" />
    <link rel="stylesheet" href="css/auth.css" />
    <link rel="stylesheet" href="css/hud.css" />
    <link rel="stylesheet" href="css/board.css" />
    <link rel="stylesheet" href="css/move-evaluation.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/options-modal.css" />
    <link rel="stylesheet" href="css/confirm-modal.css" />
    <link rel="stylesheet" href="css/shop.css" />
    <link rel="stylesheet" href="css/account.css" />
    <link rel="stylesheet" href="css/tutorial.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="dist/main.js"></script>
