<!DOCTYPE html>
<html lang="en">
<head>
{% include 'partials/head.html' %}
</head>
<body class="match-app match-app--menu">
{% include 'partials/options-toggle.html' %}

{% include 'partials/main-menu.html' %}

{% include 'partials/level-select.html' %}

{% include 'partials/shop.html' %}

{% include 'partials/tutorial.html' %}

{% include 'partials/leaderboard.html' %}

{% include 'partials/account.html' %}

{% include 'partials/hud-and-game.html' %}

{% include 'partials/modals.html' %}

{% include 'partials/option-menu.html' %}

</body>
</html>
